---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
---

<Layout title="My games played">
	<main>
		<h1>My list of <span class="block">games</span></h1>
		<GameList />
	</main>
</Layout>