---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
---

<Layout title="My games played">
	<h1 class="header">My games</h1>
	<main class="container">
		<GameList />
	</main>
</Layout>